{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Form</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 

     
</head>
<body>
    <div class="form" id="courseForm">
        <h1>Course Submission Form</h1>
        <div class="form-group">
            <label for="ctitle">Course Name:</label>
            <input type="text" name="ctitle" id="ctitle" required placeholder="Enter course name">
        </div>
        
        <div class="form-group">
            <label for="clanguage">Course Language:</label>
            <input type="text" name="clanguage" id="clanguage" required placeholder="Enter course language">
        </div>

        <div class="form-group">
            <label for="iname">Instructor Name:</label>
            <input type="text" name="Iname" id="iname" required placeholder="Enter instructor name">
        </div>
        
        <div class="form-group">
            <label for="clevel">Course Level:</label>
            <select name="clevel" id="clevel" required>
                <option value="None">None</option>
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
            </select>
        </div>

        <div class="form-group">
            <label for="ctime">Course Time:</label>
            <input name="ctime" id="ctime" placeholder="Enter course time" type="text">
        </div>

        <div class="form-group">
            <label for="cdetails">Course Details:</label>
            <textarea name="cdetails" id="cdetails" rows="4" placeholder="Enter course details"></textarea>
        </div>

        <div class="form-group">
            <label for="ccost">Course Cost (INR):</label>
            <input type="number" name="ccost" id="ccost" required placeholder="Enter course cost in INR">
        </div>

        

        <div class="form-group">
            <button onclick="check();" class="submit-btn">Submit</button>
        </div>

    </div>

    <script>

        function check()
        {
            var ctitle = $('#ctitle').val();
            var clanguage = $('#clanguage').val();
            var iname = $('#iname').val();
            var clevel = $('#clevel').val();
            var ctime = $('#ctime').val();
            var cdetails = $('#cdetails').val();
            var ccost = $('#ccost').val();

            $.ajax({
                type: "POST",
                url: "/course/course_details",
                data: {"ctitle": ctitle, "clanguage": clanguage, "iname":iname,"clevel": clevel, "ctime":ctime, "cdetails":cdetails, "ccost": ccost },
                success: function(data)
                {
                    alert("course registered succssfully")
                    window.location.replace("/tutor/tutor_dashboard");
                }
            });
        }
    </script>
</body>
</html>
