<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    <link rel="stylesheet" href="{ % static'/css/student_updatedetails.css'% }">
</head>

<body>
    <table class="update_details">
        <link rel="stylesheet" href="u1.css">
        <title>Updated Details</title>
        <h1>Updated Details</h1>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Number</th>
                <th>Heighest Qualification</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>abcd</td>
                <td>23</td>
                <td>Male</td>
                <td>3456789765</td>
                <td>B.com</td>
                <td>uygygyg@hhg</td>
            </tr>
            <tr>
                <td>fffd</td>
                <td>23</td>
                <td>Male</td>
                <td>55633576587</td>
                <td>B.A</td>
                <td>uygygyg@hhg</td>
            </tr>
            
            <tr>
                <td>abcd</td>
                <td>23</td>
                <td>Male</td>
                <td>3456789765</td>
                <td>B.com</td>
                <td>uygygyg@hhg</td>
            </tr> <tr>
                <td>abcd</td>
                <td>23</td>
                <td>Male</td>
                <td>3456789765</td>
                <td>B.com</td>
                <td>uygygyg@hhg</td>
            </tr>
        
        </tbody>
    </table>
    </body>