{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static '/css/adminstyles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Sign Up</h2>
            <div>
                <div class="input-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="input-group">
                    <label for="name">Phone Number</label>
                    <input type="tel" id="pnumber" name="pnumber" required>
                </div>
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="btn" onclick="Check();">Sign Up</button>
                <p class="form-footer">Already have an account? <a href="{% url 'login.html'}">Login</a></p>
            </div>

        </div>
    </div>
</body>
<script>
    function Check(){
        var name = $("#name").val();
        var phone = $("#pnumber").val();
        var mail = $("#email").val();
        var pass = $("#password").val();

        $.ajax({
            type:"POST",
            url:"/adminsite/signup_view ",
            data:{"username": name,"phone": phone,"email": mail,"password": pass},
            success:function(data)
            {
                if(data["status"] =="pass")
                {
                  window.location.replace("/adminsite/SignupCheckView")
                }
            }
        });

    }

</script>
</html>