{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/tutor_login.css' %}">
    <title>Login</title>
</head>
<body>
    <h1>
        SG ACADEMY
    </h1>
 
    <div class="login">
        <h2>LOGIN</h2>
        <Label>USER NAME </Label>
        <input type="text"   placeholder="enter your user name"id=username>
        <br>
        <Label>PASSWORD</Label>
        <input type="text" placeholder="enter your password"id=pass>

    <br>
    <button onclick="check()">LOGIN</button>
    <br>
    <div class="pass">
        <a>FORGOT PASSWORD</a>
    </div>
</div>

</body>
</html>
    
